@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-brown: #C2A382;
  --color-brand-black: #1A1A1A;
}

@layer base {
  body {
    @apply font-sans bg-white text-brand-black;
  }
}
